<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<style>
    table {
        border-collapse: collapse;
    }

    td, th {
        border: 1px solid black;
        padding: 7px;
    }
</style>
<h1>Added Cards</h1>
<a href="https://api.capitalpay.kz/api/v1/client-card/register?merchantId=663&cashBoxId=13978" id="addCard">Add Card</a>
<button id="pay-with-any-card">Pay to merchant with any card</button>
<p>
    <a href="/client-payments/0">Payments from non-added cards</a>
</p>
<table>
    <thead>
    <tr>
        <th>Number</th>
        <th>Id</th>
        <th>Param</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <% cards.forEach(function (card) { %>
        <tr>
            <td>
                <%= card.card_number %>
            </td>
            <td><a href="/client-payments/<%= card.card_id %>"><%= card.card_id %></a></td>
            <td><%= card.param %></td>
            <td>
                <button class="pay" data-card-id="<%= card.card_id %>" data-card-token="<%= card.card_token %>">Pay <b>to</b> client card</button>
                <button class="pay-client" data-card-id="<%= card.card_id %>"  data-card-token="<%= card.card_token %>">Pay <b>from</b> client card</button>
            </td>
        </tr>
    <% }) %>
    </tbody>
</table>

<h2>Payments</h2>
<table>
    <thead>
    <tr>
        <th>Card Number</th>
        <th>Sum</th>
        <th>result</th>
    </tr>
    </thead>
    <tbody>
    <% payments.forEach(function (payments) { %>
        <tr>
            <td><%= payments.card_number %></td>
            <td><%= payments.sum %></td>
            <td>
                <pre><%= payments.result %></pre>
            </td>
        </tr>
    <% }) %>
    </tbody>
</table>
<script>
    window.addEventListener("load", function () {
        document.querySelectorAll(".pay").forEach((b) => {
            b.addEventListener("click", function () {
                const sum = prompt("Input sum");
                // запрос на сервер получить подпись
                // свормировать скрытую js форму и заполнить все поля с подписью
                // в поле action формы должно быть то что скажет сергей

                // отправить форму на сервер
                axios.post('/signature', {sum, cardId: b.dataset.cardId}).then(function (response) {
                    const form = document.createElement("form");
                    form.method = "POST";
                    form.action = "https://api.capitalpay.kz/api/v1/p2p/send-p2p-to-client";
                    form.style.display = "none";
                    form.innerHTML = `
                        <input type="hidden" name="merchantId" value="663">
                        <input type="hidden" name="cashBoxId" value="13978">
                        <input type="hidden" name="clientCardToken" value="${b.dataset.cardToken}">
                        <input type="hidden" name="acceptedSum" value="${parseFloat(sum).toFixed(2)}">
                        <input type="hidden" name="signature" value="${response.data.signature}">
                    `;
                    document.body.appendChild(form);
                    form.submit();
                });
                // axios.post("/pay", {
                //     cardId: parseInt(this.dataset.cardId),
                //     sum: parseFloat(sum)
                // }).then(
                //     () => {
                //         location.reload();
                //     }
                // )
            });
        });
        document.querySelectorAll(".pay-client").forEach((b) => {
            b.addEventListener("click", function () {
                const sum = prompt("Input sum");
                axios.post('/signature', {sum, cardId: b.dataset.cardId}).then(function (response) {
                    const form = document.createElement("form");
                    form.method = "POST";
                    form.action = "https://api.capitalpay.kz/api/v1/p2p/send-p2p-to-merchant";
                    form.style.display = "none";
                    form.innerHTML = `
                        <input type="hidden" name="merchantId" value="663">
                        <input type="hidden" name="cashBoxId" value="13978">
                        <input type="hidden" name="clientCardToken" value="${b.dataset.cardToken}">
                        <input type="hidden" name="acceptedSum" value="${parseFloat(sum).toFixed(2)}">
                        <input type="hidden" name="signature" value="${response.data.signature}">
                    `;
                    document.body.appendChild(form);
                    form.submit();
                });
                // axios.post("/pay-from-client", {
                //     cardId: parseInt(this.dataset.cardId),
                //     sum: parseFloat(sum)
                // }).then(
                //     () => {
                //         alert("Done!");
                //     }
                // );
            })
        })
        addCard.addEventListener("click", function (e) {
            e.preventDefault();
            const param = prompt("Input param");
            location.href = this.href + `&parameters=${param}`;
        });
        document.getElementById("pay-with-any-card").addEventListener("click", function () {
            const sum = prompt("Input sum");
            const form = document.createElement("form");
            const sumInput = document.createElement("input");
            sumInput.type = "hidden";
            sumInput.value = sum;
            sumInput.name = "sum";
            form.appendChild(sumInput);
            form.method = "post";
            form.action = "/pay-with-any-card";
            document.body.appendChild(form);
            form.submit();
        })
    });
</script>
